{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
  <link href="{{ asset('css/pokedex.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block title %}
{{ title }}
{% endblock %}


{% block body %}
<div class="bigBox">
  <div class="box">
    <div class="head1">
      <img src="{{ sprite }}" alt="{{ alt }}">
      <p><span class="no">No</span>. {{ id }}</p>
    </div>
    <div class="head2">
      <p>{{ name }}</p>
      <p>{{ genus }}</p>
      <div class="stat"><span>HT</span> <span class="statNumber">{{ height }} cm</span></div>
      <div class="stat"><span>WT</span> <span class="statNumber">{{ weight }} kg</span></div>
    </div>
    <p class="flavor">{{ flavor }}</p>
  </div>
</div>
{% endblock %}
